<ul class="navbar-nav">
	<li class="nav-item"><a href="/predefined">Add property and sources</a></li>
	<li class="nav-item"><a href="/tables">Create table and map property</a></li>
	<li class="nav-item"><a href="/ways">Assign value to property</a></li>
	<li class="nav-item"><a href="/overall">Add manual value to property</a></li>
</ul>