<html>
	<head>
		<title>Configuration</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="main_container">
			<%-	include("partials/nav") %>
		</div>
		<div class="main_container col-lg-11">
			<div class="form-group">
				<label for="country">Select Country</label>
				<%-	include("partials/header") %>
			</div>
			<div class="source">
				<button class="btn btn-success execute_final">Execute</button>
			</div>
		</div>
		
		<script src="/js/jquery-3.4.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script>

		</script>
	</body>
</html>